.header {
  background: $main-color;
  padding: $padding-std-all;
  padding-left: 0;
  box-shadow: $shadow-std;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  .menu-toggle {
    float: left;
    margin-top: -6px;
    margin-bottom: -8px;
  }
  &-title {
    font-weight: 800;
    font-size: 18px;
  }
}
