$white: #FFF;
$black: #000;

$gray-lightest: #EEEFEF;
$gray-lighter: #CCCCCC;
$gray: #333333;

$blue: #0077C5;
$red: #F24965;
$green: #0AC775;
$orange: #FF9E40;
$yellow: #FFCF40;


$main-base-color: $white;
$primary-action-color: $blue;

$padding-std-all: 15px;
$padding-std-sides: 0 15px;

$shadow-std: 0px 2px 4px 0px rgba(0,0,0,0.40);
